<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} -  Instagram Image Utilities</title>
    <link rel ="stylesheet" href="/static/style.css" />
</head>
<body>
    {% block content %}
    {% endblock %}
    <br>
    <div id="footer">
        <a href="{{ url_for('index') }}">Back to start</a><br>
        <br>
        <a href="https://github.com/whoschris/InstaImagePostUtils">GitHub</a>
    </div>
</body>
{% block script %}
{% endblock %}
</html>