{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<h2>Processing Settings</h2>
<div>
    <img src="{{ url_for('display_image',uuid=uuid,filename=filename_thumbnail) }}" style="max-width:{{ thumbnail_width }}px;width:100%">
</div>
<div>
    <form name="settings" method="post" action="{{ url_for('get_results') }}">
        <input type="hidden" id="uuid-hidden" name="uuid" value="{{ uuid }}">
        <input type="hidden" id="filename-hidden" name="filename" value="{{ filename }}">
        <input type="hidden" id="option-hidden" name="option" value="{{ option }}">
    {% if option == "FILL" %}
        <div class="photo-option">
            <label for="output-ar-label">Output Aspect Ratio</label>
            <div id="output-ar-label">
                <input type="radio" id="4-5" name="output-ar" value="4-5" checked>
                <label for="4-5">4:5</label>
                <input type="radio" id="1-1" name="output-ar" value="1-1">
                <label for="1-1">1:1</label>
                <input type="radio" id="5-4" name="output-ar" value="5-4">
                <label for="5-4">5:4</label>
                <input type="radio" id="3-2" name="output-ar" value="3-2">
                <label for="3-2">3:2</label>
                <input type="radio" id="16-9" name="output-ar" value="16-9">
                <label for="16-9">16:9</label>
                <p id="ar-warn-fill" style="color:red;">Less than 1% difference between input aspect ratio and selected aspect ratio.</p>
            </div>
        </div>
        <div class="photo-option">
            <label for="background-label">Fill Background</label>
            <div id="background-label">
                <input type="radio" id="bg-blur" name="background" value="bg-blur" checked>
                <label for="bg-blur">Gaussian Blur Background</label>
                <input type="radio" id="bg-black" name="background" value="bg-black">
                <label for="bg-black">Black Background</label>
                <input type="radio" id="bg-white" name="background" value="bg-white">
                <label for="bg-white">White Background</label>
            </div>
            <div id="blur-pt-id">
                <label for="blur-pt">Blur Percentage</label>
                <input type="range" id="blur-pt" name="blur-pt" value="20" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
                <output>20</output>
            </div>
        </div>
    {% elif option == "SPLIT" %}
        <div class="photo-option">
            <label for="n-split">Number of Final Images</label>
            <input type="number" id="n-split" name="n-split" min="2" max="4" value="2">
            <p id="ar-warn-split" style="color:red;">Output image aspect ratio is outside of Instagram's bounds.</p>
        </div>
        <label for="letterbox-label">Create <a href="https://en.wikipedia.org/wiki/Letterboxing_(filming)">Letterboxed</a> Image?</label>
        <div class="photo-option" id="letterbox-label">
            <input type="radio" id="lb-none" name="letterbox" value="lb-none" checked>
            <label for="lb-none">Do Not Create Letterboxed Image</label>
            <input type="radio" id="lb-black" name="letterbox" value="lb-black">
            <label for="lb-black">Black Background</label>
            <input type="radio" id="lb-white" name="letterbox" value="lb-white">
            <label for="lb-white">White Background</label>
        </div>
    {% endif %}
       <div>
            <button id="submit" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script language="javascript">
    const im_width = {{ im_width }};
    const im_height = {{ im_height }};
    const ar_map = {
        "4-5": 0.8,
        "1-1": 1,
        "5-4": 1.25,
        "3-2": 1.5,
        "16-9": 1.778,
    }
{% if option == "FILL" %}
    var bg_radios = document.getElementsByName("background");
    var blur_e = document.getElementById("blur-pt-id");
    for (let i = 0; i < bg_radios.length; i++) {
        bg_radios[i].addEventListener('change', function() {
            if (this.value == "bg-blur") {
                blur_e.style.display = "block";
            }
            else {
                blur_e.style.display = "none";
            }
        });
    }

    var ar_radios = document.getElementsByName("output-ar");
    var ar_warn_fill = document.getElementById("ar-warn-fill");
    var submit_button = document.getElementById("submit");
    var input_ar = im_width / im_height;
    handle_ar_radio = function(event) {
        for (let i = 0; i < ar_radios.length; ++i) {
            if (ar_radios[i].checked){
                let output_ar = ar_map[ar_radios[i].value];
                let diff = Math.abs(input_ar - output_ar);
                let avg = (input_ar + output_ar) / 2;
                let pt_diff = diff/avg;
                if (pt_diff < 0.01) {
                    ar_warn_fill.style.display = "block";
                    submit_button.disabled = true;
                }
                else {
                    ar_warn_fill.style.display = "none";
                    submit_button.disabled = false;
                }
            }
        }
    };
    for (let i = 0; i < ar_radios.length; ++i) {
        ar_radios[i].addEventListener('change', handle_ar_radio)
    }
    window.addEventListener('DOMContentLoaded', handle_ar_radio)
{% elif option == "SPLIT" %}
    const min_ar = {{ min_ar }};
    const max_ar = {{ max_ar }};
    var n_split = document.getElementById("n-split");
    var ar_warn_split = document.getElementById("ar-warn-split");
    var handle_n_split = function(event) {
        var n = n_split.value;
        split_width = Math.floor(im_width/n);
        split_ar = split_width / im_height
        if (split_ar > max_ar || split_ar < min_ar) {
            ar_warn_split.style.display = "block";
        }
        else {
            ar_warn_split.style.display = "none";
        }
     };

    n_split.addEventListener('change', handle_n_split);
    window.addEventListener('DOMContentLoaded', handle_n_split);
{% endif %}
</script>
{% endblock %}
